<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ated4kids Events <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", :title => "Atom Feed" %>

    <link href="http://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet" type="text/css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/ated4kids.css" rel="stylesheet">
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body role="document">

   <%= partial(:headermenu, :locals => { :currentmenu => "events" }) %>
   <div class="container-fluid">

     <div class="row row-offcanvas row-offcanvas-right">

       <div class="col-sm-12 col-md-9">
           <p class="pull-right visible-xs visible-sm">
               <button type="button" class="btn btn-primary btn-xs btn-sm" data-toggle="offcanvas">Dicono di noi...</button>
           </p>
           <div class="blog-header">
               <h1 class="blog-title">Eventi Ated4Kids</h1>
               <p class="lead blog-description">Qui trovate tutti gli eventi organizzati da ated4kids e le info per partecipare</p>
           </div>


           <div id="nextevents" >
               <h2>Calendario eventi</h2>
                  <div class="blog-main">
                   <%= yield %>
                  </div>

           </div>


       </div><!--/span-->

       <div class="col-xs-6 col-sm-6 col-md-3 sidebar-offcanvas" id="sidebar">
           <div class="sidebar-module sidebar-module-inset">
               <a class="twitter-timeline" href="https://twitter.com/search?q=%23ated4kids" data-widget-id="445495051410345984">Tweet su "#ated4kids"</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
           </div>
           <div class="sidebar-module sidebar-module-inset">
               <h4>Eveti ated4kids</h4>
               <p>Una timeline delle nostre attività</p>
           </div>
           <div class="sidebar-module">
               <h2>Eventi recenti</h2>
               <ol>
                   <% blog.articles[0...10].each do |article| %>
                       <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
                   <% end %>
               </ol>

               <h2>Tags</h2>
               <ol>
                   <% blog.tags.each do |tag, articles| %>
                       <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
                   <% end %>
               </ol>

               <h2>Eventi per anno</h2>
               <ol>
                   <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                       <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
                   <% end %>
               </ol>

           </div>


       </div><!--/span-->

     </div>
   </div> <!-- /container -->


   <div class="container">

   </div>


   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
   <script src="/javascripts/main.js"></script>
   <script src="/javascripts/orientationchange-fix.js"></script>
   <script src="/javascripts/offcanvas.js"></script>


</body>
</html>
