<div class="container-fluid footer">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1><%= t(:'footer.social') %></h1>
            <i class="fa fa-twitter-square fa-4x"></i>
            <i class="fa fa-facebook-square fa-4x"></i>
            <i class="fa fa-google-plus-square fa-4x"></i>
            <ul class="list-inline">
                <li><a href="#"><%= t(:'footer.conduct_code') %></a></li>
                <li><a href="#"><%= t(:'footer.contact_us') %></a></li>
                <li><a href="#"><%= t(:'footer.about_us') %></a></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <h1><%= t(:'footer.latest_posts') %></h1>
            <p>twitter stream...</p>
        </div>
    </div>
</div>