<div class="container">
    <h1><%= t(:'tracks.title') %></h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="panel panel-danger">
              <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-gears"></i> <%= t(:'tracks.serverside.title') %></h2>
              </div>
              <div class="panel-body">
                  <%= t(:'tracks.serverside.description') %>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-mobile"></i> <%= t(:'tracks.mobile.title') %></h2>
              </div>
              <div class="panel-body">
                  <%= t(:'tracks.mobile.description') %>
              </div>
          </div>
      </div>
        <div class="col-xs-12 col-sm-4">
          <div class="panel panel-success">
              <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-group"></i> <%= t(:'tracks.beyond_programming.title') %></h2>
              </div>
              <div class="panel-body">
                  <%= t(:'tracks.beyond_programming.description') %>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-laptop"></i> <%= t(:'tracks.web_development.title') %></h2>
              </div>
              <div class="panel-body">
                  <%= t(:'tracks.web_development.description') %>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="panel panel-warning">
              <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-cloud"></i> <%= t(:'tracks.cloud_big_data.title') %></h2>
              </div>
              <div class="panel-body">
                  <%= t(:'tracks.cloud_big_data.description') %>
              </div>
          </div>
       </div>
       <div class="col-xs-12 col-sm-4">
          <div class="panel panel-danger">
              <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-wrench"></i> <%= t(:'tracks.iot.title') %></h2>
              </div>
              <div class="panel-body">
                  <%= t(:'tracks.iot.description') %>
              </div>
          </div>
       </div>
    </div>
</div>